.resContainer {
	background-color:lightgray;
	border-style: solid;
	width:81%;
	height:48px;
	font-size:20px;
}

#res{
      background-color: lightgray;
      border-style: solid;
      width: 81%;
      height: 48px;
      font-size: 20px;
}
  
.buttonsContainer {
	width: 90%;
}

.buttonsOperand {
	background-color:lightgreen;
	color:brown;
	width: 22%;
	height: 36px;
	font-size: 18px;
}

.buttonsControl {
	background-color:darkgreen;
	color:white;
	width: 22%;
	height: 36px;
	font-size: 18px;
}

.buttonsOperator {
	background-color:black;
	color:red;
	width: 22%;
	height: 36px;
	font-size: 18px;
}